<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch Modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Dashboard</h5>
          <hr>       

          <div class="box-header with-border" >  
            <div class="form-group voffset row">  
                <label for="" class="vertical-label col-md-3 text-left"> Select Team</label>  
                <div class="col-md-3" class="float"> 
                    <!-- <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="teamId"  (change)="selectTeam();">  
                      <option value="" disabled="true" [selected]="">--Please select Team--</option>
                         <option [ngValue]="k" *ngFor="let k of nameList">  
                             {{k.Team}}  
                      </option>  
                 </select>  -->
                 
                    <div class="col-md-3">
                        <!-- <label for="teams">Select Team</label> -->
                      <input id="teams" type="text" class="validate filter-input" [(ngModel)]=query (keyup)=filter()>
                    
                    <div class="col-md-3" *ngIf="filteredList.length > 0">
                        <ul *ngFor="let item of filteredList" type="None">
                            <li >
                                <a (click)="select(item)">{{item}}</a>
                            </li>
                        </ul>
                    </div>
                  </div>  

                </div>  
                <button class="btn btn-success"
                (click)="showAddTeamForm()">Add Team </button>
            </div>  
        </div> 
        <div class="box-header with-border">  
          <div class="form-group voffset row">  
           
        <label for="" class="vertical-label col-md-3 text-left"> Select Employee</label>  
        <div class="col-md-3" class="float" >  
         <!-- <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="empId" (change)="selectEmployee()">  
          <option value="" disabled="true" [selected]="">--Please select Employee--</option>  
              <option [ngValue]="k" *ngFor="let k of EmpList">  
           {{k}}  
              </option>  
          </select> -->
          <div class="col-md-3">
          <input id="emps" type="text" class="validate filter-input" [(ngModel)]=query2 (keyup)=filter2()>
                    
          <div class="col-md-3" *ngIf="filteredList2.length > 0">
              <ul *ngFor="let item2 of filteredList2" type="None">
                  <li >
                      <a (click)="select(item2)">{{item2}}</a>
                  </li>
              </ul>
          </div>
          </div>
        </div>  
        <button class="btn btn-success" [disabled]="!noTeamSelected()" 
                (click)="showAddEmpForm()">Add Employee </button>
</div>  
</div> 

<form *ngIf="teamForm">
  <h2>Add New Team</h2>
  <p>Team: <input type="text" 
                         name="Team"
                         [(ngModel)]="newTeam.Team" /></p>
   <p>
    <button type="button"
                 class="btn btn-primary"
                 (click)="saveTeam(newTeam)">Submit</button> 
    <button type="button"
                 class="btn btn-warning"
                 (click)="cancelNewTeam()">Cancel</button> 
  </p> 
 </form>
 <form *ngIf="empForm">
  <h2>Add New Employee</h2>
  <p>Employee: <input type="text" 
                         name="Emp"
                         [(ngModel)]="newEmp.Emp" /></p>
   <p>
    <button type="button"
                 class="btn btn-primary"
                 (click)="saveEmp(newEmp)">Submit</button> 
    <button type="button"
                 class="btn btn-warning"
                 (click)="cancelNewEmp()">Cancel</button> 
  </p> 
 </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClear()">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!noneSelected()" (click)="onSubmit()">Save changes</button>
        </div>
      </div>
    </div>
    

  </div>

